nav{
    display: block;
    text-align: center;
}
body{

    text-align: center;
    display: flex;
    align-items: center;
    background-color: pink;
    justify-content: center;
}
div{
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 4px 5px;
}

input,button{
    display: block;
    padding: 8px;
    margin: 5px;
}
label{
    display: block;
    text-align: left;
    margin: 5px;
}
